.ProductList {
    width: 66%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
}

@media (max-width: 667px) {
    .ProductList {
        display: block;
        float: none;
        width: 100%;
    }
}